{
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"bracketSpacing": true,
	"jsxSingleQuote": true,
	"bracketSameLine": true,
	"importOrder": [
		"^@/app/(.*)$",
		"",
		"^@/components/(.*)$",
		"",
		"^@/lib/(.*)$",
		"",
		"^@/hooks/(.*)$",
		"",
		"^@/types/(.*)$",
		"",
		"<THIRD_PARTY_MODULES>",
		"",
		"^[./]"
	],
	"plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
